@charset "utf-8";

.topArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  margin: 20px 0px;
  padding: 5px;
  background-color: #95a5a6;
}

.menuBar {
  width: 100%;
  margin: 10px 0px 20px 0px;
  padding: 5px;
  background-color: #bdc3c7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mobileMenuIcon {
  display: none;
}

.menuItem {
  cursor: pointer;
  padding: 5px 10px;
}

.menuItem ul {
  display: none;
}

.menuItem__lv1:hover ul {
  display: block;
}

@media (max-width: 1024px) {
  .topArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menuItem {
    display: none;
    cursor: pointer;
  }

  .mobileMenuIcon {
    display: flex;
    justify-content: flex-end;
  }

  .header {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .menuBar {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .topArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .menuBar {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
